html,body{
	height:100%;
}

.wk{
	
	width: 200px;
	height: 180px;
	background: url(../images/wk.png);
	position: absolute;
	top: 300px;
	left: 300px;
	animation-name: wk;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(8);

}
@keyframes wk{
	100%{
		background-position: -1600px 0;
	}
}

.bj{
	width: 200px;
	height: 180px;
	background: url(../images/bj.png);
	position: absolute;
	top: 300px;
	left: 550px;
	animation-name: bj;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(8);

}
@keyframes bj{
	100%{
		background-position: -1600px 0;
	}
}
.ts{
	
	width: 170px;
	height: 240px;
	background: url(../images/ts.png);
	position: absolute;
	top: 280px;
	left: 800px;
	animation-name: ts;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(8);

}
@keyframes ts{
	100%{
		background-position: -1360px 0;
	}
}
.ss{
	
	width: 210px;
	height: 200px;
	background: url(../images/ss.png);
	position: absolute;
	top: 300px;
	left: 1000px;
	animation-name: ss;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(8);

}
@keyframes ss{
	100%{
		background-position: -1680px 0;
	}
}
.bg ul{
	width: 3920px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	animation-name: bg;
	animation-duration: 50s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.bg ul li{
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg)no-repeat;
	
	float: left;
	margin-left: -2000px;
}
@keyframes bg{
	0%{
		left: 0;
	}
	100%{
		left: 1920px;
	}
}
